#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &kp E  &kp R        &kp U    &kp I
        &kp D  &kp F        &kp J    &kp K
      >;
    };
  };
};
