#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &kp W    &kp E    &kp R            &kp U    &kp I    &kp O
        &kp S    &kp D    &bt BT_CLR       &kp J    &kp K    &kp L
      >;
    };
  };
};
